body {
    font-family: Arial, Helvetica, sans-serif;
}

#profile-picture {
    width: 300px;
}

.pokemoncard {
    /* Borders take in three properties */
    /* A color */
    /* A type */
    /* The thickness of a border */
    /* border-style: solid;
    border-color: black; */
    border: solid black 5px;
    background-color: hsl(65.58deg 58.9% 85.69%);
    display: flex;
    margin: auto;
    /* the article needs to have a width of 800px */
    width: 800px;
    padding: 30px;
}

.taglist {
    list-style-type: none;
    display: flex;
}

.taglist li {
    background-color: hsl(0deg 0% 54.9%);
    color: white;
    /* The first number refers to top and bottom, the second refers to left and right */
    padding: 12px 24px;
    border-radius: 20px;
}
.header {
    display:flex;
    justify-content: center;
}