<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/styles/flexbox.css" type="text/css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/exampleOne.css" type="text/css" />

  <title>Flexbox</title>
</head>

<body>
  <%- include("partials/_header.ejs") %>
    <main>
      <div class="parentBox">
        <h2 class="red">One</h2>
        <h2 class="blue">Two</h2>
        <h2 class="yellow">Three</h2>
        <h2 class="green">Four</h2>
        <img>
      </div>
    </main>
    <!-- Bootstrap JS -->

</body>

</html>