<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <!-- Code for partial -->
    <!-- Code for header -->
    <h1>Login</h1>
    <!-- Action / method -->
    <!-- Action specifies the path to where this form should make a request -->
    <!-- Method type of request it makes: GET/POST -->
    <form action="/login" method="POST">
        <label>Email:</label>
        <input type="email" name="email"/><br/>
        <label>Password:</label>
        <input type="password" name="password"/><br/>
        <!-- You can style Button -->
        <!-- <button>Login</button> -->
        <input type="submit" value="Login"/>
    </form>
</body>
</html>