<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/styles/exampleTwo.css" type="text/css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>Grocery List</title>
</head>

<body>
  <%- include("partials/_header.ejs") %>
    <main class="mainContainer">
      <section class="sectionContainer">
        <h1>Things to buy:</h1>
        <ul class="groceryList">
          <li class="box">
            <h3>Milk</h3>
            <img src="https://www.thespruceeats.com/thmb/NouHPTL6nbThMwO5uN9r4yRAEfw=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/cream-types-Multi-bits-Getty-Images-57c754e95f9b5829f494e535.jpg" />
          </li>
          <li class="box">
            <h3>Bread</h3>
            <img src="https://www.bhg.com/thmb/ix1jf9aUXcxyFtekIBlVCAIBW4w=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/BHG-milk-bread-4CdeIL1uKGyB5ryU8J_EED-aaa76729c86a413ca7500029edba79f0.jpg" />
          </li>
          <li class="box">
            <h3>Eggs</h3>
            <img src="https://cdn.britannica.com/94/151894-050-F72A5317/Brown-eggs.jpg" />
          </li>
          <li class="box">
            <h3>Frozen Pizza</h3>
            <img src="https://www.foodandwine.com/thmb/4qg95tjf0mgdHqez5OLLYc0PNT4=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/classic-cheese-pizza-FT-RECIPE0422-31a2c938fc2546c9a07b7011658cfd05.jpg" />
          </li>
          <li class="box">
            <h3>Apples</h3>
            <img src="https://www.foodandwine.com/thmb/dJioehiMBM0IHtF2yqvv4fjrahI=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/A-Feast-of-Apples-FT-2-MAG1123-980271d42b1a489bab239b1466588ca4.jpg" />
          </li>
        </ul>
      </section>
    </main>
</body>

</html>