<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/styles/exampleThree.css" type="text/css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>Flexbox</title>
</head>

<body>
  <%- include("partials/_header.ejs") %>
    <main>
      <section>
        <h1>Lorem ipsum dolor sit amet.</h1>
        <article>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi semper condimentum massa, nec sollicitudin dolor tincidunt a. Nam ut neque at nulla venenatis efficitur. Nam finibus est diam, nec laoreet est laoreet condimentum. Donec placerat augue tellus, ut mattis ligula tempus varius. Aenean et est feugiat, placerat lacus eu, dapibus libero. Aliquam varius fermentum leo. Nunc varius vestibulum facilisis. Morbi vitae vulputate magna. Donec eu lacus id ante commodo posuere. Aliquam finibus pulvinar mollis. Mauris mattis auctor mi non luctus.
          </p>
        </article>
        <article>
          <p>Phasellus sapien ligula, tempor ac lacinia eget, finibus ut nibh. Quisque neque quam, tempus vitae hendrerit ut, semper non neque. Nullam id odio libero. Nullam ut tempus urna, a eleifend arcu. Fusce ornare, diam ut pretium mattis, felis massa consectetur dolor, sit amet imperdiet augue ante sit amet diam. Mauris suscipit massa nec urna molestie, accumsan laoreet dolor sollicitudin. Nulla nec dui vitae lacus faucibus ultricies. Etiam ullamcorper, ex vel ullamcorper accumsan, ante quam ullamcorper ante, ut tristique ex tellus mattis quam. Cras sodales magna risus, eget porttitor ipsum volutpat et. Sed sodales, lectus varius pharetra tincidunt, nunc ante faucibus neque, vel bibendum nunc purus et massa. In semper tincidunt congue. Ut orci lacus, mollis id odio ac, aliquet venenatis neque. Aenean id condimentum purus. Proin pharetra auctor ligula, vitae sollicitudin quam bibendum at. Quisque nec dui sem.</p>
        </article>
        <article>
          <p>Etiam elit neque, facilisis et rhoncus at, lobortis at lorem. Integer convallis justo dolor, eget malesuada nunc pharetra ac. Cras sodales mollis urna, eu pretium est sollicitudin id. Phasellus condimentum nulla maximus ex aliquam, sed suscipit eros maximus. Phasellus mollis erat sit amet diam rhoncus, ut blandit est mollis. Curabitur vitae tellus mattis, condimentum sem ut, ornare metus. Vivamus ultricies non quam eu venenatis. Proin enim velit, ornare in nibh ut, scelerisque mollis purus. Donec rutrum felis in lacus mattis, quis posuere lacus elementum. Etiam eget nisl neque. Curabitur non sapien purus. Vivamus lacus orci, pulvinar non diam et, fermentum iaculis libero. Duis vel vulputate ex. Curabitur nisi leo, finibus ut tempus vitae, pretium ut tortor. Nullam quis rutrum est, et feugiat ipsum.</p>
        </article>
      </section>
    </main>
</body>

</html>